.logout_btn:hover {
    color: white !important;
    background-color: #DB3C4B !important;
}

.formarginbottommore{
    margin-bottom: 0px;
}

@media (max-width:750px){
    .formarginbottommore{
        margin-bottom: 3px !important;
    }
    
}

.v2CallActiveBtn{
    background-color: #059b38 ;
    color:white
}

.v2CallDeactiveBtn{
    background-color:red;
    color:white
}